In [ ]:
pip install astroquery

In [28]:
from astroquery.ipac.nexsci.nasa_exoplanet_archive import NasaExoplanetArchive
import pandas as pd

In [35]:
df = NasaExoplanetArchive.query_criteria (table="PS",
    select="pl_name, hostname, disc_year, pl_orbper, pl_rade, pl_bmasse, pl_eqt",
    where="pl_orbper IS NOT NULL")

df = df.to_pandas()
df.head()

      pl_name  hostname  disc_year  pl_orbper    pl_rade  pl_bmasse   pl_eqt
0  Kepler-6 b  Kepler-6       2009   3.234699  13.380000        NaN      NaN
1  Kepler-6 b  Kepler-6       2009   3.234694  13.316002        NaN  1374.57
2  Kepler-6 b  Kepler-6       2009   3.234700  14.616536  212.31044  1460.00
3  Kepler-6 b  Kepler-6       2009   3.234699  13.410000        NaN  1355.00
4  Kepler-6 b  Kepler-6       2009   3.234699  13.410000        NaN  1355.00